.Main_box{
    height: 595px;
  }
  
  h3{
    text-align: center;
    margin-top: 120px;
  }
  
  .Left_box{
    background-color: aquamarine;
  }
  
  .Form{
    text-align: center;
    padding: 20px 60px 60px 60px;
  }
  
  .Sign_in{
    text-align: center;
    margin-top: 40px;
  }
  
  